%h1 #{User.model_name.human}登録

= simple_form_for @user, url: users_sign_up_path do |f|
  = f.input :email, as: :email
  = f.input :password, as: :password
  = f.input :password_confirmation, as: :password
  = f.button :submit, "#{User.model_name.human}登録"

.container
  = link_to "#{User.human_attribute_name(:password)}を忘れた方はこちら", root_path
  = link_to "登録確認メールを再送信する方はこちら", users_resend_activation_token_path
