%h1 #{@user.email} 様

%p #{User.human_attribute_name(:password)}変更を受け付けました。<br>以下のボタンをクリックして#{User.human_attribute_name(:password)}変更を行ってください。

.text-center
  = link_to "#{User.human_attribute_name(:password)}変更", @url, class: %w(btn btn-success)
