!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RocketDash
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render 'layouts/flash'
    .container
      .header.clearfix
        %nav
          %ul.nav.nav-pills.pull-right
            - if logged_in?
              %li
                = link_to 'Sign out', users_sign_out_path(@current_user), method: :delete, class: %w[text-danger]
            - else
              %li
                = link_to 'Sign up', users_sign_up_path, class: %w[btn btn-success]
              %li
                = link_to 'Sign in', users_sign_in_path, class: %w[btn btn-primary]
        %h3.text-muted
          = link_to RocketDash, root_path
      = yield
